* {
    padding: 0%;
    margin: 0%;
    font-family: monospace;
}

body {
  background-color: rgb(33, 143, 216);
}

#title {
  width: 100%;
  background-color: rgb(37, 106, 197);
  color: #fff;
  text-align: center;
  padding-bottom: 5vh;
  margin-top: 5vh;
  padding-top: 5vh;
  font-size: 6vh;
}

.list {
  background-color:rgb(37, 106, 197) ;
  width: 75%;
  margin-left: 12.5%;
  margin-top: 5vh;
  height: 60vh;
  border-radius: 25px;
}

#input {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  height: 3vh;
}

#text-input {
  border-style: none;
}

#input button {
  border-style: none;
  background-color: #fff;
  margin-left: 3%;

}

button:hover {
  cursor: pointer;
  opacity: 70%;
}



li {
  list-style: none;
  padding-bottom: 3%;
  width: 70%;
}

#append-container {
  padding-top: 5%;
}

#append-text {
  width: 50%;
  margin-left: 25%;
  padding-bottom: 30%;
}

.div {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 5%;
}

.btn {
  margin-right: auto;
  border-style: none;
  color: #fff;
  width: 30%;
  height: 5vh;
  background-color: rgb(33, 143, 216);
}